:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

@font-face {
  font-family: 'Young';
  src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format('truetype');
  font-weight: 400 600 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: Outfit;

  /* font-family: 'Outfit'; */
  background-color: black;
}

main {
  display: flex;
  align-items: start;
  justify-items: center;
  width: 736px;
  background-color: rgb(131, 69, 69);
  justify-self: center;
  align-self: center;
  height: 1707PX;
  border-radius: 30px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  gap: 29px;
}

.image{
  margin-top: 29px;
}
.image img {
  width: 656px;
  justify-self: center;
  align-items: center;
  border-radius: 20px;
}

.recipe-card img,
.title-section,
.prep-info,
.ingredients-info,
.instruction-info,
.nutration-info {
  box-sizing: border-box;
  margin: 0 40px 0px;
  width: 656px;
  /* padding-left: 30px; */
}

.title-section {
  background-color: aqua;
  height: 125px;
}

.prep-info {
  background-color: rgb(195, 0, 255);
  height: 181px;
  padding: 20px;
}

.ingredients-info {
  background-color: burlywood;
  height: 237px;
  padding: 20px;
}

.instruction-info {
  height: 366px;
  padding: 20px;
  background-color: whitesmoke;
}

.nutration-info {
  height: 288px;
  padding: 20px;
  background-color: cadetblue;
}